@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
body {
    background-image: linear-gradient(to right, #B5B4D6, #9FBAD6);
    font-family: 'Poppins';
}

#fodase {
    text-align: center;
}

form.ui.form  input[type='text'] {
    width: 300px;
}